.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.header-container{
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header-nav{
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo{
    width: 180px;
}

.navigation{

}