
.container{
    margin: auto;
    max-width: 100%;
    padding: 0 10px;
}

@media screen and (min-width: 576px){
    .container{
        max-width: 540px;
    }

}

@media screen and (min-width: 768px){
    .container{
        max-width: 720px;
    }
}


@media screen and (min-width: 992px){
    .container{
        max-width: 960px;
    }


}

@media screen and (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}

@media screen and (min-width: 1400px){
    .container{
        max-width: 1320px;
    }
       
}

@media screen and (max-width: 1400px){
    .navigation{
        gap: 15px;
    }

    .nav-link{
        font-size: 14px;
    }
    
}

@media screen and (max-width: 1200px){

    .banner-context{
        top: 30px;
    }
    .banner-context > img{
        width: 350px;
    }

    .banner-context-title{
        font-size: 26px;
        margin: 10px 0 40px;
    }

    .banner-menu-item > img{
        width: 50px;
    }

    .navigation{
        display: none;
    }

    .nav-mobile{
        display: flex;
    }

    .header-hidden{
        display: none;
    }

    .box-group{
        gap: 20px;
    }
}

@media screen and (max-width: 992px){

    .banner-menu{
        flex-wrap: wrap;
        display: none;
    }

}


@media screen and (max-width: 768px){


}

@media screen and (max-width: 576px){


}

